body{
    background-color: rgb(33, 33, 33);
    color: rgb(121, 121, 169);
}

#hello{
    margin-left: 10px;
    height: auto;
    width: auto;
}

#profilbild{
    width: 260px;
    height: 540px;
    margin-left: 40px;
    margin-right: auto;
    text-align: center;
    }
.img_me{
    padding: 0px 10px;
    position: absolute;
    width: 240px;
    height: 320px;   
    
}
