body{
    background-color: rgb(50, 49, 49);
    color: rgb(181, 207, 175);
    font-family: Fira code;
}
test
.header{
    width: auto;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    text-align: right;
    display: flex;
    gap:10px;
    flex-wrap:nowrap;
    justify-content: center;
    padding: 15px 0;
    }

.hello{
    font-size: 18px;
    font-weight: bold;
    max-width: 500px;
    min-width: 250px;
    font-family: Fira code;
    }

.img_me{
    max-width: 200px;
    /* max-height: 280px; */
    border-radius: 6px;
    }

.menu{
    position:sticky;
    top: 0;
    padding-top: 10px;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    max-width: 860px;
    min-width: 380px;
    height: 35px;
    border-bottom: 6px double black;
    z-index: 1;
    background-color: rgb(50,49,49);
}

.nav{
    margin-left: 15px;
    /* display: inline; */
    padding: 2px; 
}
a, a:visited{
    color:rgb(181, 207, 175);
}
a:hover, a:active{
    color:rgb(50, 49, 49);
    background-color: rgb(181, 207, 175);
}

.main{
    width: 860px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-bottom: 10px;
}
footer{
    padding-top: 10px;
    position: sticky;
    bottom: 0;
    width: auto;
    height: 100px;
    background-color: rgb(22, 21, 21);
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}